body {
     
    background-size: cover;
      }
      body{
        text-align: center;
        font-family: 'Courgette', cursive;
        font-weight: 100;
    }
    h1 {
        font-size: 70px;
        font-weight: bold;
        color: navy;
 
        font-family: 'Courgette', cursive;
 
        padding-top: 50px;
    }
    h2 {
        font-size: 60px;
        font-weight: bolder;
        color: navy;
        font-family: 'Courgette', cursive;
    } 
    h3 {
        color: navy;
        font-weight: bold;
        font-family: 'Courgette', cursive;
        font-size: 40px;
    }
    #clockdiv{
        font-family: sans-serif;
        color: navy;
        display: inline-block;
        font-weight: bolder;
        text-align: center;
        font-size: 70px;
  
  
    }
    
    #clockdiv > div{
        padding: 18px;
        border-radius: 3px;
        background: transparent;
        display: inline-block;
    }
    
    #clockdiv div > span{
        padding: 10px;
        border-radius: 3px;
        background: transparent;
        display: inline-block;
    }
    
    .smalltext{
        padding-top: 5px;
        font-size: 16px;
    }
    /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
  }

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
      .smalltext{
        padding-top: 5px;
        font-size: 15px;
    }
    #clockdiv{
      font-family: sans-serif;
      color: navy;
      font-size: 20px;
      padding: 5px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    h1 {
      font-size: 35px;
    }
    h2 { 
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    .smalltext{
      padding-top: 5px;
      font-size: 15px;
  }
  #clockdiv{
    font-family: sans-serif;
    color: navy;
    font-size: 20px;
    padding: 5px;
  }
}